@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/font" as *;

.edit-warehouse {
  margin-top: auto;

  &--header {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    padding-top: 2rem;

    .back-button {
      margin-right: 1.25rem;
      .back-icon {
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
      }
    }

    .edit-warehouse--title {
      color: $background-dark;
      font-size: 1.75rem;
      line-height: 2.25rem;
      font-family: "Titillium Web", Arial, sans-serif;
      @include tablet {
        font-size: 2rem;
        line-height: 2.5rem;
      }
      @include desktop {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
  }

  .edit-warehouse--form {
    .form-sections {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-top: 1px solid #ccc;
      border-width: 100%;
      @include tablet {
        flex-direction: row;
        align-items: stretch;
        .form--section:first-child {
          border-right: 1px solid #ccc;
          margin-top: auto;
          margin-bottom: auto;
        }
        .form--section:last-child {
          padding-left: 1.25rem;
        }
      }
      @include desktop {
        .form--section:first-child {
          border-right: 1px solid #ccc;
          margin-top: auto;
          margin-bottom: auto;
        }
        .form--section:last-child {
          padding-left: 1.25rem;
        }
        align-items: stretch;
        flex-direction: row;
      }

      .form--section {
        flex-grow: 1;
        padding: 1.5rem;
        padding-top: 1rem;
        @include tablet {
          padding-right: 2rem;
        }
        .form-section--title {
          margin-top: 1rem;
          font-size: 1.25rem;
          margin-bottom: 2rem;
          line-height: 1.75rem;
          font-family: "Titillium Web", Arial, sans-serif;
          @include tablet {
            font-size: 1.5rem;
            line-height: 2rem;
          }
          @include desktop {
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }

        .form-section--label {
          margin-bottom: 0.25rem;
          font-weight: 600;
          font-family: "Titillium Web", Arial, sans-serif;
          font-size: 0.8125rem;
          @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
          }
          @include desktop {
            font-size: 0.875rem;
            line-height: 1.375rem;
          }
        }

        .form-section--input {
          width: 100%;
          padding-left: 1rem;
          padding-right: 1rem;

          border: 1px solid $secondary-lightgrey;
          border-radius: 1.25rem;
          margin-bottom: 0.625rem;
          height: 2.375rem;
          &:focus {
            border: 1px solid $primary-blue;
            outline: none;
          }
          &.error {
            border: 1px solid $support-red;
          }
          .error-icon {
            display: inline-block;
            margin-right: 0.5rem;
          }

          .error-text {
            color: $support-red !important;
            font-size: 2rem;
            margin-top: 0.2rem;
          }
        }
      }
    }

    .form-btns {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 1rem 1.5rem;
      background-color: rgba(247, 248, 249, 0.7);

      @include tablet {
        padding-right: 2rem;
        margin-left: auto;
        justify-content: right;
      }
      @include desktop {
        padding-right: 2rem;

        margin-left: auto;
      }
      .save-btn {
        padding: 10px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 1.25rem;
        background-color: $primary-blue;
        color: white;
        font-weight: bold;
        cursor: pointer;
        width: 100%;
        height: 2.375rem;
        &:hover {
          background-color: $background-dark;
        }
        @include tablet {
          width: min-content;
        }
        @include desktop {
          width: min-content;
        }
      }
      .cancel-btn {
        background-color: #fff;
        color: #333;
        width: 100%;
        border-radius: 1.25rem;
        height: 2.375rem;
        border: 1px solid black;
        padding-right: 1rem;
        padding-left: 1rem;
        &:hover {
          border-color: $primary-blue;
          cursor: pointer;
        }
        @include tablet {
          width: min-content;
        }
        @include desktop {
          width: min-content;
        }
      }
    }
  }
}
