@font-face {
    font-family: "Titillium Web";
    src: local("Titillium Web"),
        url(../../assets/fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: "Titillium Web";
    src: local("Titillium Web"),
        url(../../assets/fonts/TitilliumWeb-Bold.ttf);
}