@use '../styles/partials/font';
@use '../styles/partials/fontStyles' as *;
@use '../styles/partials/colors' as *;
@use '../styles/partials/breakpoints' as *;

@mixin button {
    height: 2.375rem;
    border-radius: 1.25rem;
    border: none;
    text-align: center;
    background-color: $primary-blue;
    color: $primary-white;
    padding: 0 1rem;
}

@mixin input {
    height: 2.375rem;
    border-radius: 1.25rem;
}