@use '../../styles/partials/font' as *;
@use '../../styles/partials/fontStyles' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/mixins.scss' as *;



.warehouse-inventory-list {
    @include tablet {
        border-radius: .25rem;
        margin: 0 1rem;
    }

    &--disabled {
        pointer-events: none;
    }

    &__head {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-bottom: 2px solid $secondary-lightgrey;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
        }
    }

    &__title {
        @include H1;
        margin: 0.5rem 0;
        color: $primary-black;
        text-align: left;
    }

    &__card-item {
        display: flex;
        flex-direction: column;
        padding: 0 1rem 1.5rem 1rem;
        border-bottom: 2px solid $secondary-lightgrey;

        @include tablet {
            flex-direction: row;
            padding: 0 1rem;
        }
    }

    &__card-item--tablet {
        display: none;

        @include tablet {
            display: flex;
            padding: 0 1rem;
            background-color: $background-light;
        }
    }

    &__card-parent {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: flex-end;

        @include tablet {
            width: auto;
            display: flex;
        }
    }

    &__card-child {
        width: 100%;
        margin: 1rem 0;
        display: flex;
        flex-direction: column;


        @include tablet {
            flex-direction: row;
        }
    }

    &__card-info {
        padding: 0.5rem 0;
        width: 50%;


        @include tablet {
            width: 20%;
            padding: 1rem;
        }
    }

    &__card-title {
        @include H4;
        color: $secondary-darkgrey;
        margin: 0;
        text-align: left;
        display: flex;
        align-items: center;

        &--align-flex-end {
            justify-content: flex-end;
        }

        &--tablet {
            @include tablet {
                display: none;

            }
        }

        &--status {
            text-transform: uppercase;
            @include H4;
        }
    }

    &__icon {
        width: 1rem;
    }

    &__card-link {
        @include H3;
        color: $primary-blue;
        margin: 0;
        text-align: left;
        display: flex;
        cursor: pointer;

        &:hover {
            text-decoration: underline $primary-blue
        }
    }

    &__card-text {
        @include P2;
        color: $primary-black;
        // margin: 0;
        padding: 0;
        text-align: left;
        width: -moz-fit-content;
        width: fit-content;
    }

    &__status-text {
        @include H4;
        color: $primary-black;
        padding:  0 .5rem ;
        text-align: left;
        width: -moz-fit-content;
        width: fit-content;
        text-transform: uppercase;
        height: 1.5rem;


        &--status-color-instock {
            background-color: rgba(21, 132, 99, .07);
            color: $support-green ;
            border-radius: 1rem;
        }

        &--status-color-out-of-stock {
            background-color: rgba(201, 69, 21, .07);
            color: $support-red ;
            border-radius: 1rem;
        }
    }

    &__child {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include tablet {
            display: flex;
            justify-content: flex-end;
            padding: 1rem;
            width: 20%;
            gap: 1rem;
        }
    }

    &__action-icon {
        width: 1rem;

        @include tablet {
            width: 1.5rem;
            cursor: pointer;
        }
    }
}