@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fontStyles" as *;
@use "../../styles/partials/breakpoints" as *;

@use "../../App.scss" as *;

.header{
    display: flex;
    flex-direction: column;
    background-color: $background-dark;
    height: 12.5rem;
    align-items: center;

    @include tablet{
        height: 11.62rem;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    @include desktop{
        height: 11.62rem;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 6.5rem;
    }

    &__logo{
        width: 8.0625rem;
        margin: 1.5rem;
    }

    &__nav{
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: center;
        padding: 0 1rem;
        @include tablet{
            padding: 1rem;
            width: 30%;
        }

    }
    &__warehouses{
        @include P3;
        width: 50%;
        color: $primary-white;
        padding: .5rem;
        border-radius: 1rem;
        @include tablet{
            padding: .5rem;
        }
        
    }
    &__inventory{
        @include P3;
        width: 50%;
        color: $primary-white;
        padding: .5rem;
        border-radius: 1rem;
        @include tablet{
            padding:  .5rem;
        }
      
    }
}
.active{
        background-color: $primary-black;
    }
